<ul>
  <li title="GitHub Repoes">
    <a href="https://www.github.com/rsi2940"
       class="social github"
       target="_blank">Github</a>
  </li>
  <li title="LinkedIn Profile">
    <a href="https://www.linkedin.com/in/rishikhatiwada"
       class="social linkedin"
       target="_blank">LinkedIn</a>
  </li>
  <li title="Twitter Profile">
    <a href="https://twitter.com/rsikhtwda"
       class="social twitter"
       target="_blank">Twitter</a>
  </li>
  <li title="Facebook Profile">
    <a href="https://facebook.com/rishi2940"
       class="social facebook"
       target="_blank">Facebook</a>
  </li>
  <li title="Phone">
    <a href="tel:+1 585-354-8947"
       class="social cell">Cell</a>
  </li>
  <li title="Email">
    <a href="mailto:rishi2940@gmail.com"
       class="social email">Email</a>
  </li>
</ul>
