<div class="ro">
  <app-profile></app-profile>
  <div class="ptags">
    <p>
      I am a computer science student who is fond of building web applications (websites) using latest technologies and tools to
      support accessibility and the best design that suits client's need.
    </p>
    <p>
      I prefer to start from scratch but also believe not to "reinvent the wheel" as far as possible.
    </p>
    <p>
      I am comfortable with Plain HTML5, CSS3, vanillaJS as Front End and PHP MYSQL as Back End. I enjoy building WordPress apps
      too, however, Angular with Firebase is my goal that I am currently acquiring knowledge at Monroe Community College.
      This website is an angular app hosted in GitHub.
    </p>
    <p>I am always eager to learn new technology and believe in professional growth.</p>
    <div class="more">
      <p (click)="clickMore()"
         [title]="titleText">{{moreText}}</p>
      <div *ngIf="showMore"
           class="skills">
        <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
        <ul class="skills">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Angular</li>
          <li>Firebase</li>
          <li>NoSQL</li>
          <li>PHP</li>
          <li>MySQL</li>
          <li>and More...</li>
        </ul>
      </div>
    </div>
  </div>

</div>
