<div class="ro">
  <app-profile></app-profile>
  <div class="ptags">
    <p>
      I am a student of computer science who is fond of building web applications (websites) using latest technologies and tools
      to maintain the accessibility and the best design that suits the requirement.
    </p>
    <p>
      I prefer to start with scratch but also believe not to "reinvent the wheel" as far as possible.
    </p>
    <p>
      I am comfortable with Plain HTML5, CSS3, vanillaJS as Front End and PHP MYSQL as Back End. I enjoy building wordpress apps
      too, however, Angular with Firebase is my goal that I am currently acquiring knowledge at Monroe Community College.
    </p>
    <p>I am always eager to learn new technology and believe in professional growth.</p>

  </div>
</div>
