.ro {
  margin: 0 auto;
  padding: 1em;
  line-height: 2em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    '. ap ap ap ap ap ap ap ap ap ap .'
    'p p p p p p p p p p p p';

  app-profile {
    grid-area: ap;
  }

  @media (min-width: 960px) {
    width: 90%;
    grid-template-areas: ' . ap  . p p p p p p p p p';

    > .ptags {
      margin-top: 1em;
    }
    app-profile {
      margin-top: 5em;
    }
  }
  @media (min-width: 1440px) {
    width: 70%;
  }

  > .ptags {
    grid-area: p;
    text-align: justify;
  }
}

ul.skills {
  padding: 0;
  //text-align: center;
  transition: all 1s ease;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: rgba(255, 125, 0, 0.9);
  color: #fff;
  padding: 0.25em 1em;
  margin-bottom: 0.2em;
}

.skills li:nth-child(odd) {
  background: rgb(3, 153, 255);
}
.more {
  display: inline;
  margin: 0;
  padding: 0;
  > p {
    font-size: 3em;
    display: inherit;
    //text-decoration: underline;
    color: blueviolet;
  }
  > p:hover {
    cursor: pointer;
  }
}
