.form {
  width: 50vw;
  padding: 0 1em;
  line-height: 2;
  margin: calc(25vh/10) auto 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  div {
    display: grid;
    margin-top: 0.5em;
    input,
    textarea {
      padding: 0.5em 0.5em 0 0.5em;
      //border: none;
      background: transparent;
      border: 1px solid rgba(255, 125, 0, 0.5);
      outline: none;
      color: #3f3844;
      //font-size: 1.15rem;
    }
    textarea {
      resize: none;
      height: 80px;
    }
  }
  .buttons {
    > * {
      margin-bottom: 1em;
      border: none;
      background: rgba(255, 125, 0, 0.75);
      border-radius: 7px;
      color: #fff;
      padding: 0.5em;
    }
    :hover {
      cursor: pointer;
      background: rgba(255, 125, 0, 0.85);
    }
  }

  @media (min-width: 960px) {
    margin: 0 auto;
    overflow: hidden;
    div {
      margin-top: 0.25em;
    }
  }
}
