<div class="form">
  <div class="name">
    <label for="name">
      Name*:</label>
    <input type="text"
           id="name"
           [(ngModel)]="clientName"
           autofocus=true
           [placeholder]="nameErr">
  </div>

  <div class="email">
    <label for="email">Email*:</label>
    <input [(ngModel)]="clientEmail"
           type="email"
           id="email"
           [placeholder]="emailErr">
  </div>

  <div class="message">
    <label for="message">Message*:</label>
    <textarea cols="22"
              name="message"
              id="message"
              [(ngModel)]="clientMessage"
              [placeholder]="messageErr"></textarea>
  </div>

  <div class="buttons">
    <input type="submit"
           value="submit"
           (click)="onSubmit()">
    <input type="button"
           value="cancel"
           (click)="onCancel()">
  </div>
  <div *ngIf="success"
       class="success">
    <p>Message sent Successfully!!</p>
  </div>
</div>
