<div class="container">
  <section class="profile">
    <img src="./assets/image/me2017.jpg"
         alt="portrait of Rishi Khatiwada">
    <ul class="social-links">
      <li>
        <a class="social github">GitHub</a>
      </li>
      <li>
        <a class="social linkedin">LinkedIn</a>
      </li>
      <li>
        <a class="social twitter">Twitter</a>
      </li>
      <li>
        <a class="social facebook">Facebook</a>
      </li>
    </ul>
  </section>
  <header>
    <h1 class="name">Rishi Khatiwada</h1>
    <nav>
      <a class="aboutme"
         routerLink="/aboutme">about me</a>
      <a class="works"
         routerLink="/works">works</a>
      <a class="contactme"
         routerLink="/contact">contact me</a>
    </nav>
  </header>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
