<div class="container">

  <header>
    <a routerLink="/aboutme"
       (click)="aboutClicked()">
      <h1 class="name">Rishi Khatiwada</h1>
    </a>
    <nav>
      <a class="aboutme"
         routerLink="/aboutme"
         (click)="aboutClicked()"
         [ngClass]="{changeMe:aboutClick}">about me</a>
      <a class="works"
         routerLink="/works"
         (click)="worksClicked()"
         [ngClass]="{changeMe:worksClick}">works</a>
      <a class="contactme"
         routerLink="/contact"
         (click)="contactClicked()"
         [ngClass]="{changeMe:contactClick}">contact me</a>
    </nav>
  </header>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
