<div class="container">

  <header>
    <a routerLink="/aboutme"
       routerLinkActive="active">
      <h1 class="name">Rishi Khatiwada</h1>
    </a>
    <nav>
      <a class="aboutme"
         routerLink="/aboutme"
         routerLinkActive="active">about me</a>
      <a class="works"
         routerLink="/works"
         routerLinkActive="active">works</a>
      <a class="contactme"
         routerLink="/contact"
         routerLinkActive="active">contact me</a>
    </nav>
  </header>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
