.container {
  margin: 0 auto;
}
.changeMe {
  // text-decoration: underline;
  color: blueviolet;
  //font-weight: 500;
}
h1 {
  font-size: 1.25em;
}
section.profile {
  padding-top: 1em;
}

header {
  //width: 95vw;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  background-image: url('../assets/image/bg.png');
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.name {
  display: inline-block;
  margin: 0.25 0;
  padding: 0.25em 2em;
}

header > nav {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-around;
}
nav > a {
  padding: 0.25em 0.5em;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
nav > a:hover,
h1:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(3, 153, 255);
  border-radius: 7px;
}

.content-wrapper {
  position: static;
  z-index: -1;
  margin-top: 1.5em;
  overflow: auto;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0.25em;
  // border-left: 1px solid rgba(42, 34, 121, 0.76);
}

ul li {
  //display: block;
  //padding-top: 1em;
}

@media (min-width: 960px) {
  app-footer {
    // grid-area: sl;
    display: block;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url('../assets/image/bg.png');
    grid-area: f;
    //color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
  }
  .content-wrapper {
    margin: 0 auto 8em auto;
    grid-area: cw;
  }
  //
  app-profile {
    // display: initial;
    grid-area: s;
    position: sticky;
    top: 25px;
    //left: 1em;
  }
  header {
    grid-area: h;
  }
  .container {
    //position: relative;
    // display: grid;
    // grid-template-rows: max-content max-content max-content;
  }
}
