.container {
  // padding: 0;
  // width: 100%;
  margin: 0 auto;

  // display: grid;
  //background: green;
  //justify-content: left;
  // grid-column-gap: 0.5em;
  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: 6em;
  // grid-template-areas:
  //   'h h h h h h h h h h h h'
  //   '. s cw cw cw cw cw cw cw cw cw cw';
}
h1 {
  font-size: 1.25em;
}
section.profile {
  padding-top: 1em;
  // grid-area: s;
  // display: grid;
  // grid-auto-flow: column;
  // justify-content: space-around;

  // grid-row-gap: 0.5em;
  // grid-template-rows: 2em min-content 1fr 2em;
  // grid-template-columns: 1fr;
  // grid-template-areas:
  //   '.'
  //   'img'
  //   'sl''.';
}
// .social-links {
//   grid-area: sl;
//   margin-bottom: 0.5em;
// }
// .profile > .profile-img {
//   grid-area: img;
// }

header {
  width: 98vw;
  margin: 0 auto;
  // border-radius: 10px;
  background-image: url('../assets/image/bg.png');
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.name {
  display: inline-block;
  margin: 0.25 0;
  padding: 0.25em 2em;
}

header > nav {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: space-around;
}
nav > a {
  padding: 0.25em 0.5em;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
nav > a:hover,
h1:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(3, 153, 255);
  border-radius: 7px;
}

.content-wrapper {
  position: static;
  z-index: -1;
  margin-top: 1.5em;
  overflow: auto;
  border-radius: 7px;
  margin: 0 auto;
  padding: 0.25em;
  // border-left: 1px solid rgba(42, 34, 121, 0.76);
}

ul li {
  //display: block;
  //padding-top: 1em;
}

@media (min-width: 920px) {
  app-footer {
    // grid-area: sl;
    display: block;
    width: 100vw;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url('../assets/image/bg.png');
    grid-area: f;
    //color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
  }
  .content-wrapper {
    margin: 0 auto 8em auto;
    grid-area: cw;
  }
  // .social-links {
  //   display: none;
  // }
  app-profile {
    // display: initial;
    grid-area: s;
    position: sticky;
    top: 25px;
    //left: 1em;
  }
  header {
    grid-area: h;
  }
  .container {
    //position: relative;
    // display: grid;
    // grid-template-rows: max-content max-content max-content;
  }
}
// @media (max-width: 760px) {
//   .container {
//     grid-template-rows: max-content max-content 1fr min-content;
//     grid-template-areas:
//       's s s s s s s s s s s s'
//       'h h h h h h h h h h h h'
//       'cw cw cw cw cw cw cw cw cw cw cw cw'
//       'f f f f f f f f f f f f';
//   }
//   .content-wrapper {
//     padding: 0 1em;
//   }
// }
