<section class="profile">
  <a routerLink="/aboutme"
     class="profile-img">
    <img src="../../assets/image/me2017.jpg"
         alt="portrait of Rishi Khatiwada">
  </a>
  <ul class="social-links">
    <li>
      <a class="social github">GitHub</a>
    </li>
    <li>
      <a class="social linkedin">LinkedIn</a>
    </li>
    <li>
      <a class="social twitter">Twitter</a>
    </li>
    <li>
      <a class="social facebook">Facebook</a>
    </li>
  </ul>
  <!-- <app-footer></app-footer> -->
</section>
