<!-- <pre><strong>My Works</strong></pre> -->
<div class="container">

  <div class="portfolio">
    <div class="magiccake">
      <img [src]="magiccake"
           [alt]="magiccakeAlt"
           (mouseover)="magiccakeCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{magiccakeAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="best-city">
      <img [src]="bestcityguide"
           [alt]="bestcityguideAlt"
           (mouseover)="bestcityguideCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{bestcityguideAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="mockprofile">
      <img [src]="mockprofile"
           [alt]="mockprofileAlt"
           (mouseover)="mockprofileCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{mockprofileAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="layout-tech">
      <img [src]="layouttech"
           [alt]="layouttechAlt"
           (mouseover)="layouttechCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{layouttechAlt}}
        </p>

      </div>
    </div>

  </div>
  <div class="portfolio">
    <div class="jsdom">
      <img [src]="jsdom"
           [alt]="jsdomAlt"
           (mouseover)="jsdomCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{jsdomAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="jsdrumkit">
      <img [src]="jsdrumkit"
           [alt]="jsdrumkitAlt"
           (mouseover)="jsdrumkitCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{jsdrumkitAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="catclick">
      <img [src]="catclick"
           [alt]="catclickAlt"
           (mouseover)="catclickCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{catclickAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="apifetch">
      <img [src]="apifetch"
           [alt]="apifetchAlt"
           (mouseover)="apifetchCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{apifetchAlt}}
        </p>
      </div>

    </div>

  </div>
  <div class="portfolio">
    <div class="lightbox">
      <img [src]="lightbox"
           [alt]="lightboxAlt"
           (mouseover)="lightboxCh()"
           (mouseout)="setUrl()">
      <div class="altP">
        <p>
          {{lightboxAlt}}
        </p>
      </div>

    </div>

  </div>
</div>
