.container {
  //width: 600px;
  //position: absolute;
  //margin: 1em 0.5em;
  display: flex;
  width: 90vw;
  padding-top: 2.25em;
  padding-bottom: 0.25em;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  > .portfolio {
    padding: 0.5em;
  }
}

pre {
  //left: 45vw;
  // margin-left: 1em;
  background-image: url('../../assets/image/bg.png');
  z-index: 1;
  @media (min-width: 960px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 3em;
    top: 4.4em;
    z-index: 1;
  }
}
.portfolio {
  margin-top: 0.5em;

  > div {
    width: 350px;
    height: 250px;
    position: relative;

    > img {
      //background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      box-shadow: 2px 2px 4px 2px rgba(20, 147, 179, 0.7);
      transition: all 0.5s linear;
    }
    > img:hover {
      border-radius: 5px;
      box-shadow: 2px 2px 4px 2px rgba(20, 147, 179, 0.2);
    }
    > .altP {
      width: 100%;
      margin: 0 auto;
      height: 20%;
      position: absolute;
      bottom: 0;
      //left: 1em;
      //padding: 0.25em 0;
      background-color: rgba(0, 0, 0, 0.85);
      color: rgba(255, 255, 255, 0.85);
      border-radius: 0 0 7px 7px;
      > p {
        margin: 0 auto;
        font-size: smaller;
        text-align: justify;
        line-height: 1.15;
        padding: 0.25em 0.5em;
      }
    }
  }
}
